In [1]:
import sqlite3

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

In [2]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')
cur = conn.cursor()

In [38]:
# Every sqlite database has an sqlite_master table with data about the schema

In [16]:
# How many tables are in the database?

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

In [51]:
# We can use the PRAGMA command to find more information about each table
# From the output below, figure out how to identify the primary key of a table?
cur.execute("PRAGMA table_info(Invoice)")
info = cur.fetchall()
print(*info, sep = "\n")

(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)

In [53]:
# What foreign keys join the tables together?
cur.execute("PRAGMA foreign_key_list(Customer)")
info = cur.fetchall()
print(*info, sep = "\n") 
# your code here
# hint: use "PRAGMA foreign_key_list()"

(0, 0, 'Employee', 'SupportRepId', 'EmployeeId', 'NO ACTION', 'NO ACTION', 'NONE')

Thank you https://github.com/LucasMcL/15-sql_queries_02-chinook
    for these questions

In [29]:
# Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.
cur.execute("""
    SELECT FirstName, LastName, CustomerId, Country
    FROM customer
    WHERE country != 'USA'
    

""")
print(cur.fetchall())

[('Luís', 'Gonçalves', 1, 'Brazil'), ('Leonie', 'Köhler', 2, 'Germany'), ('François', 'Tremblay', 3, 'Canada'), ('Bjørn', 'Hansen', 4, 'Norway'), ('František', 'Wichterlová', 5, 'Czech Republic'), ('Helena', 'Holý', 6, 'Czech Republic'), ('Astrid', 'Gruber', 7, 'Austria'), ('Daan', 'Peeters', 8, 'Belgium'), ('Kara', 'Nielsen', 9, 'Denmark'), ('Eduardo', 'Martins', 10, 'Brazil'), ('Alexandre', 'Rocha', 11, 'Brazil'), ('Roberto', 'Almeida', 12, 'Brazil'), ('Fernanda', 'Ramos', 13, 'Brazil'), ('Mark', 'Philips', 14, 'Canada'), ('Jennifer', 'Peterson', 15, 'Canada'), ('Robert', 'Brown', 29, 'Canada'), ('Edward', 'Francis', 30, 'Canada'), ('Martha', 'Silk', 31, 'Canada'), ('Aaron', 'Mitchell', 32, 'Canada'), ('Ellie', 'Sullivan', 33, 'Canada'), ('João', 'Fernandes', 34, 'Portugal'), ('Madalena', 'Sampaio', 35, 'Portugal'), ('Hannah', 'Schneider', 36, 'Germany'), ('Fynn', 'Zimmermann', 37, 'Germany'), ('Niklas', 'Schröder', 38, 'Germany'), ('Camille', 'Bernard', 39, 'France'), ('Dominique', 'Lefebvre', 40, 'France'), ('Marc', 'Dubois', 41, 'France'), ('Wyatt', 'Girard', 42, 'France'), ('Isabelle', 'Mercier', 43, 'France'), ('Terhi', 'Hämäläinen', 44, 'Finland'), ('Ladislav', 'Kovács', 45, 'Hungary'), ('Hugh', "O'Reilly", 46, 'Ireland'), ('Lucas', 'Mancini', 47, 'Italy'), ('Johannes', 'Van der Berg', 48, 'Netherlands'), ('Stanisław', 'Wójcik', 49, 'Poland'), ('Enrique', 'Muñoz', 50, 'Spain'), ('Joakim', 'Johansson', 51, 'Sweden'), ('Emma', 'Jones', 52, 'United Kingdom'), ('Phil', 'Hughes', 53, 'United Kingdom'), ('Steve', 'Murray', 54, 'United Kingdom'), ('Mark', 'Taylor', 55, 'Australia'), ('Diego', 'Gutiérrez', 56, 'Argentina'), ('Luis', 'Rojas', 57, 'Chile'), ('Manoj', 'Pareek', 58, 'India'), ('Puja', 'Srivastava', 59, 'India')]

In [30]:
# Provide a query only showing the Customers from Brazil.

cur.execute("""
    SELECT FirstName, LastName, CustomerId, Country
    FROM customer
    WHERE country = 'Brazil'
    

""")
print(cur.fetchall())

[('Luís', 'Gonçalves', 1, 'Brazil'), ('Eduardo', 'Martins', 10, 'Brazil'), ('Alexandre', 'Rocha', 11, 'Brazil'), ('Roberto', 'Almeida', 12, 'Brazil'), ('Fernanda', 'Ramos', 13, 'Brazil')]

In [38]:
# Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.
cur.execute("""
     SELECT c.Firstname, c.Lastname, i.BillingCountry, i.InvoiceId, i.InvoiceDate
     FROM invoice i
     JOIN customer c
     ON i.CustomerId = c.CustomerId
     WHERE country="Brazil"

""")
print(cur.fetchall())

[('Luís', 'Gonçalves', 'Brazil', 98, '2010-03-11 00:00:00'), ('Luís', 'Gonçalves', 'Brazil', 121, '2010-06-13 00:00:00'), ('Luís', 'Gonçalves', 'Brazil', 143, '2010-09-15 00:00:00'), ('Luís', 'Gonçalves', 'Brazil', 195, '2011-05-06 00:00:00'), ('Luís', 'Gonçalves', 'Brazil', 316, '2012-10-27 00:00:00'), ('Luís', 'Gonçalves', 'Brazil', 327, '2012-12-07 00:00:00'), ('Luís', 'Gonçalves', 'Brazil', 382, '2013-08-07 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 25, '2009-04-09 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 154, '2010-11-14 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 177, '2011-02-16 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 199, '2011-05-21 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 251, '2012-01-09 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 372, '2013-07-02 00:00:00'), ('Eduardo', 'Martins', 'Brazil', 383, '2013-08-12 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 57, '2009-09-06 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 68, '2009-10-17 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 123, '2010-06-17 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 252, '2012-01-22 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 275, '2012-04-25 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 297, '2012-07-28 00:00:00'), ('Alexandre', 'Rocha', 'Brazil', 349, '2013-03-18 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 34, '2009-05-23 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 155, '2010-11-14 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 166, '2010-12-25 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 221, '2011-08-25 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 350, '2013-03-31 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 373, '2013-07-03 00:00:00'), ('Roberto', 'Almeida', 'Brazil', 395, '2013-10-05 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 35, '2009-06-05 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 58, '2009-09-07 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 80, '2009-12-10 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 132, '2010-07-31 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 253, '2012-01-22 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 264, '2012-03-03 00:00:00'), ('Fernanda', 'Ramos', 'Brazil', 319, '2012-11-01 00:00:00')]

In [42]:
# Provide a query showing only the Employees who are Sales Agents.
cur.execute('''
    SELECT DISTINCT title
    FROM employee
    '''
)
print(cur.fetchall())

[('General Manager',), ('Sales Manager',), ('Sales Support Agent',), ('IT Manager',), ('IT Staff',)]

In [47]:
cur.execute('''
    SELECT FirstName, LastName, title 
    FROM employee
    WHERE title LIKE '%Agent'
    '''
)
info = cur.fetchall()
print(*info, sep = "\n")

('Jane', 'Peacock', 'Sales Support Agent')
('Margaret', 'Park', 'Sales Support Agent')
('Steve', 'Johnson', 'Sales Support Agent')

In [49]:
# Provide a query showing a unique list of billing countries from the Invoice table.
cur.execute('''
    SELECT COUNT(DISTINCT(BillingCountry))
    FROM invoice
    

    '''
)
info = cur.fetchall()
print(*info, sep = "\n")

(24,)

In [54]:
# Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent's full name.
cur.execute('''
    SELECT i.InvoiceId, e.FirstName, e.LastName
    FROM invoice i
    JOIN customer c
    ON i.CustomerId = c.CustomerId
    JOIN employee e
    ON c.EmployeeId = e.EmployeeId
    WHERE e.title LIKE '%Agent'

    '''
)
info = cur.fetchall()
print(*info, sep = "\n")

OperationalError: no such column: c.EmployeeId